.card {
  #add-card, #practice-cards, #submit-card {
    background: #2F4858;
    color: #fff;
    padding: 5px;
    border: none;
    border-radius: 3px;
    background: #FE5F55;
    font-size: 0.8rem;
    &:hover {
      cursor: pointer;
      background: #fff;
      color: #FE5F55;
      outline: none;
    }
  }
  #practice-cards {
    margin: 10px;
    background: #41D3BD;
    &:hover {
      background: #fff;
      color: #41D3BD;
    }
  }
  .new-card-form {
    width: 600px;
    margin: 5rem auto 0 auto;
    text-align: center;
    input, textarea {
      width: 80%;
      padding: 5px;
      margin: 5px 0;
    }
    select {
      margin-left: 1%;
    }
    div {
      width: 80%;
      margin: 0 auto;
      text-align: left;
    }
    #submit-card {
      display: block;
      margin: 1rem auto 0 auto;
      &:hover {
        cursor: pointer;
      }
    }
  }
  #card-wrapper {
    width: 400px;
    height: 250px;
    margin: 5rem auto 0rem auto;
    background: #fff;
    text-align: center;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 10px;
    p {
      width: 90%;
      margin: 0 auto;
    }
  }
  .btn-wrapper {
    width: 200px;
    margin: 1rem auto 0 auto;
    text-align: center;
    button {
      margin: 5px;
      background: #fff;
      color: #FE5F55;
      padding: 5px;
      border: none;
      border-radius: 3px;
      font-size: 0.8rem;
      &:hover {
        cursor: pointer;
        background: #FE5F55;
        color: #fff;
        transform: scale(1.1);
        outline: none;
      }
      &:focus {
        outline: none;
      }
    }
    #next-card {
      color: #41D3BD;
      &:hover {
        background: #41D3BD;
        color: #fff;
      }
    }
  }
}
